@tailwind base;
@tailwind components;
@tailwind utilities;


/* CSS for On/Off Switch */
.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
    
    display: inline-block;
    cursor: pointer;
}

.toggleInput {
    display: none;
}

.toggleFill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 200ms;
}

.toggleInput:checked ~ .toggleFill {
    background: #009578;
}

.toggleFill::after {
    content: '';
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: var(--border-radius);
    transition: transform 200ms;
}

.toggleInput:checked ~ .toggleFill::after {
    transform: translateX(var(--height));
}

/* End On/Off Switch */